.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: steelblue;
  color: white;
  width: 500px;
}

.Header__button {
  padding: 12px;
  background-color: steelblue;
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

.hidden {
  display: none;
}
